$font-family:  'Manrope', sans-serif;
$second-family: 'RFDewi', sans-serif;
$third-family: 'RFDewiExpanded', sans-serif;
$color-text: #111;
$color-text-white: #fff;
$bg-white: #fff;
$color-accent: #405fff;
$color-input-bg: #f5f6f9;
$colors-input-stroke: #e1e7ee;
$colors-input-backgroud: #f5f6f9;


// %btn-header{
//   background-color: $bg-white;
//   border-radius: 100px;
//   font-family: $second-family;
//   color: $color-text;
//   border: none;
//   cursor: pointer;
//   transition: all 0.2s;
//   &:hover{
//     background-color: $color-accent;
//     color: #fff;
//   }
//   &:active{
//     background-color: darken($color-accent, 7%);
//   }
// }
